@media (max-width: 280px) {
    .card-title-label {
        font-size: 14px;
    }
}
@media (max-width: 786px) {
    .tabs-wrapper .nav-link {
        font-size: 11px;
    }
}
@media (max-width: 991px) {
    .logo-brands {
        margin: 20px 0;
    }
    .result-data-footer td,
    .results-data-head td {
        display: block;
        padding: 0;
    }
    .results-data-head tr {
        display: block;
        margin-bottom: 10px;
    }
    .result-data-footer td {
        margin-bottom: 30px;
    }
    .results-data-body td {
        padding: 0;
        display: block;
    }
    .results-data-body tr {
        display: block;
        padding: 20px 0;
    }
    .results-data-body th,
    .results-data-body tr:first-child {
        display: none;
    }
    .cards-square {
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .featured-block .featured-title {
        font-size: 5vw;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item > a {
        font-size: 12px;
    }
    .navbar-brand img {
        max-width: 100px;
    }
}

@media (min-width: 768px) {
    .form-table-dropdown td {
        width: 65%;
        min-width: 285px;
        display: table-cell;
    }
    .dropdown-unique {
        width: auto;
    }
    .form-table-dropdown tr {
        margin-bottom: 5px;
    }
}
@media (min-width: 992px) {
    .navbar-social {
        margin-left: 10px;
        padding-left: 20px;
        border-left: 2px solid #fff;
        border-top: 0;
        padding-top: 0;
        margin-top: 12px !important;
    }
    .nav-lang {
        margin-left: 20px;
    }
    .nav-lang > a {
        padding-left: 0 !important;
        margin-top: 7px;
    }
    .nav-item > a {
        background-position: 10px center;
    }
    .navbar-social {
        margin-top: 0;
    }
    .icon-flag {
        margin-right: 5px;
    }
    .dropdown-toggle::after {
        vertical-align: 0;
    }
    .icon-bubble:hover a::before,
    .icon-bubble:hover a::after {
        display: block;
    }
    .icon-bubble a::before{
        right: 0;
        bottom: -45px;
        color: #fff;
        display: none;
        font-size: 10px;
        padding: 5px 20px;
        position: absolute;
        border-radius: 6px;
        white-space: nowrap;
        letter-spacing: 1.2px;
        background-color: #aaa;
        content: attr(data-label);
        font-family: 'Conv_Poppins-Light';
    }
    .icon-bubble a::after {
        width: 0;
        height: 0;
        content: "";
        right: 17px;
        display: none;
        bottom: -23px;
        position: absolute;
        border-bottom: 15px solid #aaaaaa;
        border-left: 38px solid transparent;
    }
    .featured-block .featured-title {
        font-size: 5vw;
        max-width: 55vw;
    }
    .title-block {
        font-size: 2.5vw;
    }
    .title-initial {
        top: -120px;
        font-size: 2.5vw;
        -webkit-transition-: .5s top ease-in-out;
        -moz-transition-: .5s top ease-in-out;
        -ms-transition-: .5s top ease-in-out;
        -o-transition-: .5s top ease-in-out;
        transition: .5s top ease-in-out;
    }
    .block-footer {
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .btn-hide {
        top: 0;
        left: 0;
        right: 0;
        height: 30px;
        cursor: pointer;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,.4);
        background-image: url('../img/arrow-hide.svg');
        background-size: 55px;
    }
    .block-hide {
        transform: translate(0, 92%);
        -webkit-transition: .5s all;
        transition: .5s all;
    }
    .block-hide .btn-hide {
        background-image: url('../img/arrow-up.svg');
    }
    .card-block-img {
        height: 15vw;
    }
    .emphasis a {
        border-radius: 5px;
        background-color: #F48026;
        background-image: url('../img/icon-quote-hover.png') !important;
    }
    .search-title {
        font-size: 3rem;
    }
    .result-data-footer {
        text-align: center;
    }
    .results-info-block img {
        float: right;
        margin-top: 15px;
    }
    /* --- */
    .tabs-wrapper .nav-link {
        padding: 15px 40px;
    }
    .tabs-wrapper .nav-link.active {
        border-bottom: none;
    }
    .tabs-wrapper li {
        width: auto;
    }
    .btn-block-lg {
        max-width: 250px;
        min-width: 250px;
    }
    .tabs-wrapper .results-data-head tr td:first-child {
        max-width: 60px;
    }
}
  