@font-face {
	font-family: 'Conv_Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
    src: local('â˜º'), url('../fonts/Poppins-Bold.woff') format('woff'), 
    url('../fonts/Poppins-Bold.ttf') format('truetype'), 
    url('../fonts/Poppins-Bold.svg') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Light';
	src: url('../fonts/Poppins-Light.eot');
    src: local('â˜º'), url('../fonts/Poppins-Light.woff') format('woff'), 
    url('../fonts/Poppins-Light.ttf') format('truetype'), 
    url('../fonts/Poppins-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-ExtraBold';
	src: url('../fonts/Poppins-ExtraBold.eot');
    src: local('â˜º'), url('../fonts/Poppins-ExtraBold.woff') format('woff'), 
    url('../fonts/Poppins-ExtraBold.ttf') format('truetype'), 
    url('../fonts/Poppins-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
    src: local('â˜º'), url('../fonts/Poppins-SemiBold.woff') format('woff'), 
    url('../fonts/Poppins-SemiBold.ttf') format('truetype'), 
    url('../fonts/Poppins-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
    src: local('â˜º'), url('../fonts/Poppins-Regular.woff') format('woff'), 
    url('../fonts/Poppins-Regular.ttf') format('truetype'), 
    url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
    font-family: 'Conv_Poppins-Bold';
}

ul {
    margin: 0;
    padding: 0;
}
p, ul {
    color: #666666;
    font-family: Helvetica, sans-serif;
}
a:hover {
    color: initial;
    text-decoration: none;
}
.head-wrapper {
    width: 100%;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.head-wrapper::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
}
.head-block,
.gallery-wrapper,
.tab-results {
    position: relative;
}
.header-wrapper .navbar {
    padding-left: 0;
    padding-right: 0;
}
.navbar-brand img {
    max-width: 190px;
}
.nav-item > a {
    padding-left: 35px !important;
}
.nav-lang > a {
    padding-left: 0 !important;
    margin: 5px 0 10px !important;
    font-family: 'Conv_Poppins-Bold';
}
.navbar-menu {
    width: auto;
    color: #fff;
    padding: 7px 12px;
    border: 1px solid #fff;
}
/* -- begin social block -- */
.navbar-social {
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 2px solid #fff;
}
.navbar-social li {
    display: inline-block;
}
.navbar-social li a {
    margin-left: 15px;
    position: relative;
    display: inline-block;
}
.navbar-social img {
    max-width: 20px;
    max-height: 20px;
}
.navbar-social li:first-child a {
    margin-left: 0;
}
.navbar-social li::before {
    left: 0;
    font-size: 21px;
    position: absolute;
}
.fab.fa-quote-icon a {
    background-image: url('../img/icon-quote-initial.png');
}
.fab.fa-quote-icon a:hover {
    background-image: url('../img/icon-quote-hover.png');
}
.fab.fa-batimetria-icon a {
    background-image: url('../img/icon-batimetria-initial.png');
}
.fab.fa-batimetria-icon a:hover {
    background-image: url('../img/icon-batimetria-hover.png');
}
.fab.fa-port-icon a {
    background-image: url('../img/icon-port-initial.png');
}
.fab.fa-port-icon a:hover {
    background-image: url('../img/icon-port-hover.png');
}
.nav-item > a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    background-size: 20px;
    color: #fff !important;
    background-repeat: no-repeat;
    background-position: 0px center;
    font-family: 'Conv_Poppins-Bold';
    padding-right: 15px !important;
}
.icon-lg img {
    max-width: 30px !important;
    max-height: 30px !important;
}
.nav-item a:hover,
.dropdown > a:hover {
    border-radius: 5px;
    color: #fff !important;
    background-color: #F48026;
}
.dropdown > a {
    color: #fff;
    font-size: 14px;
}
.icon-flag {
    max-height: 20px;
    margin-right: 12px;
}
.nav-lang > a {
    margin: 0;
}
.nav-lang a:hover {
    background-color: transparent !important;
}
.fab {
    display: flex;
    position: relative;
    align-items: center;
}
.navbar-nav .fab::before {
    left: 10px;
    font-size: 20px;
    color: #F48026;
    position: absolute;
}
.navbar-nav .fab:hover::before {
    color: #fff !important;
}

/* -- begin featured block -- */
.featured-block {
    color: #fff;
    margin: 8vw 0;
}
.featured-block .featured-title {
    font-size: 10vw;
    max-width: initial;
}
.btn-outline,
.featured-block a {
    margin-top: 20px;
    color: #fff;
    padding: 3px 20px;
    display: inline-block;
    border: 3px solid #fff;
}
.btn-outline {
    margin: 0;
}
.featured-block-logo {
    display: block;
    max-height: 23px;
}

/* -- begin info block -- */
.title-block {
    color: #0183C7;
    margin: 25px 0;
    font-size: 6vw;
    font-family: 'Conv_Poppins-ExtraBold';
}
.info-wrapper b,
.info-wrapper strong {
    color: #0183C7;
}
/* begin icons carousel */
.carousel-icons-wrapper,
.carousel-logos-wrapper {
    position: relative;
    margin: 30px auto;
    padding: 0 50px;
    overflow: hidden;
}
.carousel-icons-wrapper {
    padding: 0 30px !important;
}
.carousel-icons-block {
    text-align: center;
    border: 3px solid #0183C7;
    border-left: none;
    position: relative;
}
.carousel-icons-block::before {
    top: 0;
    left: 0;
    width: 3px;
    content: "";
    bottom: -3px;
    display: block;
    position: absolute;
    background-color: #0183C7;
}
.title-info {
    margin-top: 10px;
    text-align: center;
    font-family: 'Conv_Poppins-Regular';
}
.title-info-label {
    color: #0183C7;
}
.title-info-link {
    font-size: 12px;
    color: #808080;
    padding: 10px 10px 5px 25px;
    font-family: 'Conv_Poppins-Bold';
    background: url('../img/icon-download.png') left center no-repeat;
    background-size: 20px;
}

.title-initial {
    margin: 0;
    padding: 0;
    position: static;
    text-align: initial;
}
.subtitle-initial {
    color: #fff;
    font-size: 16px;
    font-family: 'Conv_Poppins-Regular';
}
/* -- begin footer -- */
.block-map {
    overflow: hidden;
    position: relative;
}
.block-map iframe {
    width: 100%;
    height: 40vw;
    display: block;
}
.block-footer {
    padding: 65px 0 35px;
    background-color: rgba(0,0,0,.9);
    -webkit-transition: 1s all;
    transition: 1s all;
}
.footer-social {
    text-align: center;
    border: none !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.footer-logo > a img {
    width: 100%;
    display: block;
}
.logo-brands ul {
    column-count: 2;
}
.logo-brands ul li {
    text-align: center;
    margin-bottom: 5px;
    list-style-type: none;
}
.logo-brands a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover;
    border: 7px solid #FFF;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-logo-row {
    align-items: center;
}
.footer-address ul {
    list-style: none;
}
.footer-address li {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0 0 5px 30px;
    background-size: 20px;
    background-position: 0 5px;
    background-repeat: no-repeat;
}
.footer-address li a {
    color: #fff;
}
.input-field {
    width: 100%;
    border: none;
    color: #fff;
    font-size: 11px;
    margin-top: 10px;
    padding: 10px 15px;
    font-family: 'Conv_Poppins-Light';
    background-color: rgba(178,178,178,.6);
}
textarea.input-field {
    min-height: 100px;
}
.input-field:focus {
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808080;
    text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #808080;
    text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #808080;
    text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
    color: #808080;
    text-align: center;
}
.footer-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    text-align: left;
}
.footer-form input::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    text-align: left;
}
.footer-form input:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    text-align: left;
}
.footer-form input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    text-align: left;
}
.btn-input {
    width: 100%;
    border: none;
    padding: 10px;
    color: #fff;
    margin: 5px 0 0;
    text-align: center;
    background-color: #F48026;
}
/*-- BEGIN SEARCH BLOCK --*/
.search-wrapper {
    font-family: 'Conv_Poppins-Regular';
}
.search-title {
    font-size: 4vw;
    font-family: 'Conv_Poppins-Bold';
}
.field-standard,
.search-wrapper input,
.search-wrapper select {
    width: 100%;
    border: none;
    margin-top: 20px;
    min-height: 40px;
    padding: 7px 40px 7px 40px;
    text-align: center;
}
.field-standard {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding-left: 40px !important;
    font-family: 'Conv_Poppins-Regular';
}
.field-initial {
    padding-left: 20px;
    background: url('../img/icon-sharp.png') 10px center no-repeat #fff;
    background-size: 20px;
}
.input-code {
    background-image: url('../img/icon-sharp.png');
}
.input-date {
    background-image: url('../img/icon-calendar.png');
}
.btn-initial {
    color: #fff;
    font-family: 'Conv_Poppins-Bold';
    background: url('../img/icon-input-send.png') 10px center no-repeat #F48026;
    background-size: 20px;
}
.btn-update {
    width: 100%;
    border: none;
    height: 80px;
    background: none;
}
.btn-update img {
    width: 100%;
    max-width: 35px;
}
/* -- BEGIN RESULTS BLOCK -- */
.results-data-head {
    font-family: 'Conv_Poppins-Regular';
}
.results-title {
    font-size: 16px;
    color: #58B957;
    text-align: center;
    margin: 20px 0 15px;
    font-family: 'Conv_Poppins-Regular';
}
.results-title span {
    padding-left: 30px;
}
.label-success span {
    background: url('../img/icon-check.png') left center no-repeat;
    background-size: 20px;
}
.label-error span {
    background: url('../img/icon-error.png') left center no-repeat;
    background-size: 20px;
}
.results-data-head tr td:first-child {
    max-width: 60px;
    font-family: 'Conv_Poppins-Bold';
}
.results-block {
    padding: 20px;
    position: relative;
    border: 3px solid #4D4D4D;
}
.btn-print {
    right: 15px;
    border: none;
    background: none;
    position: absolute;
    text-align: center;
    background-color: #fff;
}
.btn-print img {
    width: 20px;
    height: auto;
    display: inline-block;
}
.btn-print i {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-family: 'Conv_Poppins-Light';
}
.results-data-body {
    margin-top: 20px;
}
.results-data-body tr {
    border-bottom: 1px solid #4d4d4d;
}
.results-data-body th {
    color: #fff;
    padding: 10px 20px;
    background-color: #4d4d4d;
}
.results-data-body td {
    padding: 10px 20px;
}
.results-data-body small {
    display: block;
    font-family: 'Conv_Poppins-Light';
}
.result-data-footer {
    margin-top: 30px;
    font-family: 'Conv_Poppins-Regular';
}
.result-data-footer td {
    padding-left: 15px;
    vertical-align: bottom;
}
.result-data-footer td:first-child {
    padding-left: 0;
}
.result-data-footer small {
    display: block;
}
.result-data-footer div {
    padding-bottom: 5px;
}
.result-data-footer strong {
    display: block;
    font-size: 18px;
    color: #F48026;
    padding-top: 10px;
    border-top: 3px solid #4d4d4d;
    font-family: 'Conv_Poppins-Bold';
}
.results-info-block {
    overflow: hidden;
    margin-top: 60px;
}
.results-info-label {
    display: block;
    color:#F48026;
    font-size: 11px;
    padding-left: 50px;
    background: url(../img/icon-warning.png) left top no-repeat;
    font-family: 'Conv_Poppins-Light';
    background-size: 35px;
}
.results-info-block img {
    display: block;
    max-height: 30px;
    margin: 15px auto 0;
}
/* -- BEGIN CARDS -- */
.cards-wrapper {
    margin: 30px 0;
    padding: 0 15px;
}
.cards-block {
    height: 100%;
    padding: 20px;
    cursor: pointer;
    color: #4D4D4D;
    text-align: center;
    background-color: #4E92CB;
    clip-path: polygon(90% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
}
.cards-block td {
    color: #fff;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Conv_Poppins-Light';
}
.cards-block td:first-child {
    padding-left: 0;
    text-align: right;
}
.cards-block::before {
    top: 3px;
    left: 18px;
    content: "";
    right: 18px;
    bottom: 3px;
    z-index: -1;
    display: block;
    position: absolute;
    background-color: #fff;
    clip-path: polygon(90% 0, 100% 12%, 100% 100%, 0 100%, 0 0);
}
.emphasis::before {
    background-color: #4E92CB;
}
.emphasis span,
.emphasis small,
.emphasis strong {
    color: #fff !important;
    display: inline-block !important;
}
.emphasis i {
    background-color: #fff;
    color: #4E92CB !important;
    border-color: #fff !important;
}
.cards-block h3 {
    margin-bottom: 5px;
}
.cards-block i {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 22px;
    color: #4E92CB;
    font-style: normal;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    border: 3px solid #4E92CB;
    font-family: 'Conv_Poppins-Bold';
}
.cards-block img {
    display: block;
    max-height: 85px;
    margin: 15px auto;
}
.cards-block small {
    display: block;
    font-size: .9rem;
    line-height: 1.3rem;
    font-family: 'Conv_Poppins-Regular';
}
.cards-block span {
    color: #4E92CB;
}
.cards-block strong {
    display: block;
    color: #4E92CB;
}
.cards-block b {
    display: block;
    font-size: .7rem;
    margin-top: 10px;
}
.cards-label {
    margin-top: 20px;
    color: #808080;
    text-align: center;
    font-family: 'Conv_Poppins-Light';
}
.cards-label a {
    color: #808080;
}
.dropdown-radio {
    color: #808080;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../img/clock.png'), url('../img/icon-dropdown.png');
    background-color: #E5E5E6;
    background-position: 10px center, 93% center;
    background-repeat: no-repeat;
    background-size: 23px;
}
.dropdown-radio:focus {
    outline: none;
}
.dropdown-wrapper {
    overflow: hidden;
}
.dropdown-list-wrapper {
    padding: 10px 15px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
}
.dropdown-list-wrapper label {
    height: 30px;
    display: flex;
    cursor: pointer;
    margin-bottom: 0;
    color: #808080;
    align-items: center;
}
.dropdown-list-wrapper input {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    min-height: auto;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
}
.dropdown-list-wrapper i {
    margin-left: 10px;
    font-style: normal;
}
.dropdown-list-wrapper input:checked:before {
    height: 32px;
    content: "\25CF";
    color: #4E92CB;
}
.btn-send {
    width: 100%;
    border: none;
    height: 41px;
    padding: 10px;
    display: flex;
    border-radius: 3px;
    align-items: center;
    background-color: #4E92CB;
}
.btn-send img {
    height: 80%;
    display: block;
    margin: 0 auto;
}
.input-date-second {
    background-image: url('../img/icon-calendar-second.png');
}
.input-code-second {
    background-image: url('../img/icon-sharp-second.png');
}
.input-email-second {
    background-image: url('../img/icon-mail-color.png');
}
.tabs-wrapper {
    background-color: #F2F2F2;
}
.tabs-wrapper .nav-link {
    color: #4D4D4D;
    font-size: 20px;
    padding: 15px 20px;
    font-family: 'Conv_Poppins-SemiBold';
}
.tabs-wrapper .nav-link.active {
    color: #3E8ACC;
    border: 2px solid #ddd;
    border-bottom: none;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tabs-wrapper .tab-content {
    margin-top: -2px;
    padding: 15px 20px;
    border: 2px solid #ddd;
    background-color: #fff;
}
.btn-block-lg {
    width: 100%;
    color: #fff;
    margin: 20px 0 0;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
}
.btn-block-lg:hover {
    color: #fff;
}
.btn-block-ltr {
    background: url('../img/send-left.png') 7% center no-repeat #4E92CB;
    background-size: 20px;
}
.btn-block-rtl {
    background: url('../img/send-right.png') 93% center no-repeat #4E92CB;
    background-size: 20px;
}
.btn-wrapper-lg {
    margin-top: 30px;
}
.form-title {
    font-size: 22px;
    color: #3E8ACC;
    margin-top: 40px;
    font-family: 'Conv_Poppins-SemiBold';
    word-break: break-word;
}
.field-standard::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #808080;
    text-align: left;
}
.field-standard::-moz-placeholder { /* Firefox 19+ */
    color: #808080;
    text-align: left;
}
.field-standard:-ms-input-placeholder { /* IE 10+ */
    color: #808080;
    text-align: left;
}
.field-standard:-moz-placeholder { /* Firefox 18- */
    color: #808080;
    text-align: left;
}
.form-table-dropdown {
    margin-top: 30px;
    color: #4D4D4D;
    font-family: 'Conv_Poppins-SemiBold';
    width: 100%;
}
.form-table-dropdown td {
    display: block;
    padding-bottom: 10px;
}
.dropdown-unique {
    width: 100%;
    color: #4D4D4D;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 7px 30px 7px 10px;
    background: url(../img/icon-dropdown.png) 93% center no-repeat;
    background-size: 13px;
}
.form-table-dropdown tr {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.check-bool input {
    height: 35px;
    min-width: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 10px;
    border: 2px solid #ddd;
}
.check-bool input:checked {
    background: url(../img/icon-checkbox.png) center no-repeat;
    background-size: 17px;
}
.check-bool-wrapper {
    margin-top: 15px;
    align-items: center;
}
.check-bool label,
.check-bool-wrapper .form-title {
    margin: 0;
}

.check-bool label {
    display: block;
    font-size: 14px;
    color: #4D4D4D;
    text-align: center;
    font-family: 'Conv_Poppins-SemiBold';
}
.btn-finish {
    background-color: #58B957;
}
.checkbox-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.checkbox-wrapper .check-bool {
    display: flex;
    align-items: center;
}
.checkbox-wrapper label {
    text-align: left;
    margin-left: 10px;
    display: inline-block;
}
.tabs-wrapper .results-data-head tr td:first-child {
    max-width: none;
}
.tab-alert-success {
    padding: 5px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    background-color: #58B957;
    font-family: 'Conv_Poppins-SemiBold';
}
.msg-success {
    padding: 5px;
    color: #58B957;
    text-align: center;
    font-family: 'Conv_Poppins-SemiBold';
}
.tab-logo img {
    width: 100%;
    display: block;
    max-width: 200px;
    margin: 0 auto 20px;
}